.main{
	margin-left: 50px;
	
}
.content{
	margin-left: 20px;
	
}
.button{
	border: 1px solid black;
	border-radius: 80px;
	width: 120px;
	background-color: gray;
	margin-top: 20px;
	margin-left: 80px;
	color: white;
	text-align: center;
	
}
a:link {
  text-decoration: none;
  color: white;
  
}
.error{
	color:red;
}