.main{
	margin-left: 50px;
}
.button{
	border: 1px solid black;
	border-radius: 80px;
	width: 100px;
	background-color: gray;
	margin-top: 20px;
	color: white;
	text-align: center;
	
}

a:link {
  text-decoration: none;
  
}
.a{
	color:white;
}
.creator{
	margin-left: 30px;
}