.main{
	display:flex;
	justify-content: space-around;
	
}
.form-group{
	margin: 10px;
}
.form-control{
	margin-left: 83px;
	
}
.form-control1{
	margin-left: 82px;
	
	
}
.form-control2{
	margin-left: 58px;
	
}

.form-controlLog{
	margin-left: 23px;
}

.button{
	border: 1px solid black;
	border-radius: 80px;
	width: 100px;
	background-color: gray;
	margin-top: 20px;
	color: white;
	text-align: center;
	
}

a:link {
  text-decoration: none;
  
}
.a{
	color:white;
}

.error{
	color:red;
}